html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.3;

  font-family: "Inter", sans-serif;
  font-size: $body-font;
  font-weight: 300;
  color: $darkBlue;

  background: bottom left / 85% no-repeat url("../../images/pattern-curve.svg");

  @include breakpoint-up(medium) {
    background: bottom left / 60% no-repeat
      url("../../images/pattern-curve.svg");
  }
  @include breakpoint-up(large) {
    background: bottom left / 50% no-repeat
      url("../../images/pattern-curve.svg");
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.none {
  display: none !important;
}

//Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

//Keyframes
@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: black;
  position: relative;
  bottom: 1rem;
}
.attribution a {
  color: rgb(250, 168, 168);
}
