.slider-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  padding: $font-md;

  @include breakpoint-up(medium) {
    flex-flow: row-reverse;
    max-width: 86.25rem; //1290px
    margin: 0 auto;
    padding-right: 2.8125rem;
  }
}
