.slider-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  padding: $font-md;

  @include breakpoint-up(medium) {
    max-width: 50rem; //800px
    flex-flow: row-reverse;
    margin: 0 auto;
  }
  @include breakpoint-up(large) {
    max-width: 70rem; //1120px
  }
  @include breakpoint-up(xlarge) {
    max-width: 86.25rem; //1290px
    padding-right: 2.8125rem;
  }
}
