.slider-texts {
  .slider-text {
    margin-top: 0rem;
    position: relative;
    bottom: 2rem;

    &--hidden {
      display: none;
    }

    &--visible {
      animation: fadeVisibility 800ms;
    }

    &__quote {
      max-width: 24rem;
      min-height: 11rem;
      text-align: center;
      margin-top: 0;
      padding-top: 1.875rem;
      text-align: center;
      font-size: 1.125rem;
      line-height: 24px;
      word-spacing: 1px;
      background: top / 60px no-repeat url("../images/pattern-quotes.svg");
    }

    &__attribute {
      text-align: center;
      h5,
      h6 {
        margin: 0;
        font-size: 1rem;
      }
      h6 {
        font-weight: 400;
        color: $grayishBlue;
      }
    }
  }
}

@include breakpoint-up(medium) {
  .slider-texts {
    // width: calc(15rem + 10%);
    position: relative;
    top: 1.5rem;
    left: 4rem;
    flex: 1;
    .slider-text {
      &__quote {
        text-align: left;
        font-size: 20px;
        line-height: 1.3;
        padding-top: 2.5rem;
        background: 3rem 0px/5rem no-repeat url("../images/pattern-quotes.svg");
      }
      &__attribute {
        display: flex;
        text-align: left;
        h6 {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
@include breakpoint-up(large) {
  .slider-texts {
    top: 1.5rem;
    left: 6rem;
    .slider-text {
      bottom: 4rem;
      &__quote {
        max-width: 100%;
        font-size: $font-md;

        padding-top: 3rem;
        background: 6rem 0px/90px no-repeat url("../images/pattern-quotes.svg");
      }
    }
  }
}
@include breakpoint-up(xlarge) {
  .slider-texts {
    left: 7.5rem;
    .slider-text {
      &__quote {
        font-size: $body-font;
        padding-top: 4rem;
        background: 6rem 0px/120px no-repeat url("../images/pattern-quotes.svg");
      }
    }
  }
}
