.slider-image {
  max-width: 21rem;
  max-height: calc(24rem - 3%);
  padding: 1.875rem 2.25rem;
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-flow: column;
  position: relative;
  background: 30% 0% / 100% no-repeat url(../../images/pattern-bg.svg);

  &__image {
    img {
      width: 100%;
      margin: auto;
      box-shadow: 0 35px 35px -35px rgb(55, 45, 100);
    }
    &--hidden {
      display: none;
    }
    &--visible {
      animation: fadeVisibility 800ms;
    }
  }

  &__buttons {
    position: relative;
    bottom: 2rem;
    width: 5.25rem;
    height: 2.625rem;
    display: flex;
    background-color: $white;
    box-shadow: 0 35px 35px -35px rgb(55, 45, 100);
    border-radius: 2rem;
  }

  &__button {
    padding: 0.9375rem 1rem;
    width: 50%;
    &:hover {
      transform: scale(1.2, 1.2);
    }
    img {
      position: absolute;
      width: 10px;
      height: 12px;
    }
  }
}

@include breakpoint-up(medium) {
  .slider-image {
    max-width: 24rem;
    max-height: 100%;
    align-items: flex-start;
    background: 30% 0%/100% no-repeat url(../../images/pattern-bg.svg);
    &__buttons {
      left: 1rem;
      box-shadow: 0 20px 40px -25px #372d64;
    }
  }
}
@include breakpoint-up(large) {
  .slider-image {
    max-width: 42rem;
    align-items: flex-start;
    padding: 60px 90px 50px 60px;
    background: 30% 0%/100% no-repeat url(../../images/pattern-bg.svg);
    &__buttons {
      left: 3.75rem;
      width: 7.125rem;
      height: 3.75rem;
    }
    &__button {
      padding: 1.25rem 1.5rem;
      img {
        width: 12px;
        height: 19px;
      }
    }
  }
}
