.sliders {
  padding: 24px;
  background: url("../../images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: 330px;
  background-position: center 7%;

  .slider {
    .imgBtn {
      width: fit-content;
      margin: 0px auto;
      position: relative;
      top: 1.875rem;
      .photo {
        width: 255px;
        border-radius: 0.25rem;
        box-shadow: 0 30px 35px -30px #342159;
      }
      .btns {
        width: 84px;
        height: 42px;
        display: flex;
        margin: 0 auto;
        position: relative;
        bottom: 2rem;
        .button {
          padding: 0.9375rem;
          background-color: white;
          &:nth-child(odd) {
            border-radius: 5rem 0 0 5rem;
          }
          &:nth-child(2n) {
            border-radius: 0 5rem 5rem 0;
          }
          width: 50%;
          img {
            position: absolute;
            width: 10px;
            height: 12px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .sliders {
    padding: 0;
    height: 100vh;
    background-size: 700px;
    background-position: 90% center;
    .slider {
      display: flex;
      height: 100vh;
      flex-flow: row-reverse;
      .imgBtn {
        flex: 1;
        height: max-content;
        position: relative;
        top: 50%;
        left: -5%;
        transform: translate(0%, -45%);
        .photo {
          width: 34rem;
        }
        .btns {
          width: 114px;
          height: 60px;
          margin-left: 3rem;
          .button {
            padding: 23px;
            img {
              width: 13px;
              height: 15px;
            }
          }
        }
      }
    }
  }
}
