.slider-text {
  margin-top: 0rem;
  position: relative;
  bottom: 2rem;

  &--hidden {
    display: none;
  }

  &--visible {
    animation: fadeVisibility 800ms;
  }

  &__quote {
    text-align: center;
    margin-top: 0;
    padding-top: 1.875rem;
    text-align: center;
    font-size: 1.125rem;
    line-height: 24px;
    word-spacing: 1px;
    background: top / 20% no-repeat url("../../images/pattern-quotes.svg");
  }

  &__attribute {
    text-align: center;
    h5,
    h6 {
      margin: 0;
      font-size: 1rem;
    }
    h6 {
      color: $grayishBlue;
      margin-top: 4px;
    }
  }
}
